Lambda

In [2]:
# Regular function to double a number
def double(x):
    return x * 2

double(4)

8

In [4]:
#Lambda function
double_lambda = lambda x: x*2
double_lambda(4)

8

A lambda function is a small anonymous function.

A lambda function can take any number of arguments, but can only have one expression.

Regular funcation

In [6]:
def double(x):
    return x * 2

number = 1
for func in [double, double, double]:
    number = func(number)
    print(number)

2
4
8

In [7]:
number = 1
for func in [double, double, double]:
    number = func(number)
print(number)

8

In [8]:
def add_one(x):
    return x + 1

In [9]:
number = 1
for func in [add_one, double, add_one]:
    number = func(number)
    print(number)

2
4
5

In [10]:
number = 1
for func in [add_one, double, add_one]:
    number = func(number)
print(number)

5

Lambda

In [11]:
number = 1
for func in [lambda x: x - 1, lambda x: x * 2, lambda x: x + 2]:
    number = func(number)
    print(number)

0
0
2

In [12]:
number = 1
for func in [lambda x: x - 1, lambda x: x * 2, lambda x: x + 2]:
    number = func(number)
print(number)

2

Reduce

In [13]:
from functools import reduce

def add(x, y):
    return x + y

result = reduce(add, [1, 2, 3, 4])
print(result)

10

reduce + lambda

In [15]:
number = [1, 2, 3, 4]

reduce(lambda x, y: x + y, number)

10

In [17]:
import numpy as np
import pandas as pd

# Generates a DataFrame with 10 rows and 2 columns filled with random numbers drawn from a normal distribution with mean 0 and standard deviation 1 using NumPy's np.random.normal() function.
df = pd.DataFrame(np.random.normal(0, 1, (10, 2)))

In [19]:
df

   column_a  column_b
0  0.138643  0.645259
1 -0.612896 -0.301352
2  0.845032  1.419001
3  0.629414 -0.377755
4 -0.003163 -0.560859
5 -1.500427 -0.358697
6  0.882311  0.447261
7 -0.806033 -0.634197
8 -0.124982 -1.566359
9  0.470620 -0.909041

In [20]:
#Uses the .loc[] indexer to select rows from the DataFrame where the values in 'column_b' are greater than 0. 
df.columns = ['column_a', 'column_b']
df.loc[lambda d: d['column_b'] > 0]

   column_a  column_b
0  0.138643  0.645259
2  0.845032  1.419001
6  0.882311  0.447261